@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Rowdies&family=Russo+One&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
}

body {
    background: #222831;
}